/* grid page layour */

.page {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 5px;
  grid-template-areas:
    ". header header header header ."
    ". contact contact contact contact ."
    ". contact contact contact contact ."
    ". contact contact contact contact ."
    ". contact contact contact contact ."
    ". contact contact contact contact ."
    ". contact contact contact contact ."
    ". contact contact contact contact ."
    ". contact contact contact contact ."
    ". footer footer footer footer .";
}
.footer {
  grid-area: footer;
}
.header {
  grid-area: header;
}
.contact {
  grid-area: contact;
}

/* contact */

.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-container-item {
  margin-top: 50px;
}

.contact-container-item a {
  display: flex;
  justify-content: center;
  min-width: 220px;
}

.fa-envelope,
.fa-mobile-screen {
  font-size: 5rem;
}

.contact-container-item p {
  text-align: center;
  padding: 20px;
}
