/* global style */

* {
  box-sizing: border-box;
  /*border: red 0.5px solid !important;*/
}

html {
  font-size: 16px;
  font-family: "Tajawal", sans-serif;
  background-color: #f7f7f5;
  scroll-behavior: smooth;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

a {
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

/* grid page layout */

.page {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px 5px;
  grid-template-areas:
    "header"
    "about"
    "projects"
    "projects"
    "skills"
    "footer";
}

/*@media screen and (max-width: 400px) {
  .page {
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "header"
    "about"
    "projects"
    "skills"
    "footer";
  }
}*/

.header {
  grid-area: header;
  height: 100vh;
}
.about {
  grid-area: about;
  height: 100vh;
}
.projects {
  grid-area: projects;
  height: 100vh;
}
.skills {
  grid-area: skills;
  height: 100vh;
}
.footer {
  grid-area: footer;
  height: 100vh;
}

/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  font-size: 3rem;
  font-family: "Ultra", serif;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.header ul {
  display: inline-flex;
}

.header ul li {
  padding: 0 15px 0 15px;
  text-align: center;
  font-size: 1rem;
}

/* about */

.about h2 {
  margin-top: 5%;
  margin-bottom: 3%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-container img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  flex-shrink: 0;
}

.about-container-text {
  margin-top: 20px;
  max-width: 600px;
}

.about-container-text p {
  font-size: 1rem;
  text-align: left;
  padding: 15px;
}

/* projects */

.projects h2 {
  margin: 10% 0 5% 0;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10vw 30px 10vw;
  flex-grow: 1;
  max-width: 1000px;
}

.project-item a:hover {
  opacity: 0.9;
}

.project-item img {
  width: 100%;
  height: auto;
}

/* skills */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills h2 {
  margin-bottom: 5%;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.fa-brands {
  font-size: 6rem;
  padding: 10px 20px 10px 20px;
}

.skills p {
  padding-top: 10px;
  text-align: center;
  color: #5d606b;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.heart {
  color: red;
  font-size: 2rem;
}

.heart:hover {
  cursor: pointer;
}
